.publish-article {
    padding: 0 5%;
    padding-top: 5%;
    position: relative;
    height: 100%;
    .article-label {
        margin: 15px 0;
    }
    .publish-btn {
        position: absolute;
        bottom: 15px;
        right: 5%;
    }
    .text-body {
        height: 100%;
    }
    .edit-wrap {
        min-height: 500px;
    }
    .preview {
        // background-color: #ccc;
        height: 343px;
    }
}